html {
  font-family: arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body{
    background-color: black; /* Le fond de la page sera noir */
    color: red; /* Le texte de la page sera blanc */
}

h1{
  color: #0F3376;
  padding: 2vh;
}
p{
  font-size: 1.5rem;
}

caption {
  padding: 20px;
  caption-side: top;
  color: purple;
  text-align: center;
}

/* espacement */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
  font-size: 3rem;
  color: #FF0000
}

thead th:nth-child(1) {
  width: 40%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

th,
td {
  padding: 20px;
  font-size: 3rem;
  border-top: 1.00pt solid #ffffd7; border-bottom: 1.00pt solid #ffffd7; border-left: 1.00pt solid #ffffd7; border-right: none; 
}

